/* 

body {
  padding: 50px;
  font: 14px "Varela Round", "Lucida Grande", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

a, a:link, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
  font-size : 50px;
}


h0 {
  font-size : 100px;
  font-size : 60%;
  text-decoration: none;
}

a:hover h0, a:visited h0, a:active h0 {
  font-size : 80%;
  text-decoration: none;
}



body {
  margin: 0;
  overflow: hidden;
  height: 100%;
} */

/* Scale canvas with resize attribute to full size */



canvas[resize] {
  width: 100%;
  height: 100%;
}

.spacer{
  height: 25px;
}


html, body {
  margin: 0;
  height: 100%;
}
#c {
  width: 100%;
  height: 100%;
  display: block;
}


a:focus { 
  outline: none; 
}
button:focus { 
  outline: none; 
}

button::-moz-focus-inner {
  border: 0;
}

/* dat gui overrides */

.dg.main.a {
  margin-top : 50px;
  width : 400px;
}

.dg.main.taller-than-window .close-button {
  border-top: 1px solid #ddd;
}

.dg.main .close-button {
  background-color: #ccc;
}

.dg.main .close-button:hover {
  background-color: #ddd;
}

.dg {
  color: #555;
  text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
  background: #fafafa;
}

.dg.main::-webkit-scrollbar-thumb {
  background: #bbb;
}

.dg li:not(.folder) {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}

.dg li.save-row .button {
  text-shadow: none !important;
}

.dg li.title {
  background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}

.dg .cr.function:hover,.dg .cr.boolean:hover {
  background: #fff;
}

.dg .c input[type=text] {
  background: #e9e9e9;
}

.dg .c input[type=text]:hover {
  background: #eee;
}

.dg .c input[type=text]:focus {
  background: #eee;
  color: #555;
}

.dg .c .slider {
  background: #e9e9e9;
}

.dg .c .slider:hover {
  background: #eee;
}

.dg li:not(.folder) {
  cursor: auto;
  height: 35px;
  line-height: 35px;
  padding: 0 4px 0 5px;
}