{% extends "base.html" %}
{% block content %}

<div class="container text-center">
    <img src = "static/img/output/neural.png"  style="height: 512px; width: 512px;">
    <figcaption class="figure-caption">Neural Network Visualisation</figcaption>
    <br>


    <form action="/CPPN" method = "POST">

    <div class="d-flex justify-content-center">
    <div class="input-group mb-3 w-25">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputDims">Image Resolution</label>
        </div>
        <select class="custom-select" id="inputDims" name = "inputDims">
          {% for key, value in dimDict.items() %}
              <option value= {{key}} {% if value == '1' %} selected {% endif %} >{{key}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="input-group mb-3  w-25">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputLayers">Hidden Layers</label>
        </div>
        <select class="custom-select" id="inputLayers"  name = "inputLayers">
          {% for key, value in layerDict.items() %}
          <option value= {{key}} {% if value == '1' %} selected {% endif %} >{{key}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

      <div class="d-flex justify-content-center">
      <div class="input-group mb-3  w-25">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputNeurons">Hidden Neurons</label>
        </div>
        <select class="custom-select" id="inputNeurons" name = "inputNeurons">
          {% for key, value in neuronDict.items() %}
          <option value= {{key}} {% if value == '1' %} selected {% endif %} >{{key}}</option>
         {% endfor %}
        </select>
      </div>
    </div>


      <div class="d-flex justify-content-center">.
 
        <button type="submit"  method = "GET" class="btn btn-primary">Generate</button>
    </form>
    </div>





</div>
{% endblock %}