{% extends "base.html" %}
{% block content %}
<body style="margin: 0;">
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js'></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


<script type="text/javascript">  
    var inputFiles = {{ inputFiles|tojson }};  
    var outputFiles = {{ outputFiles|tojson }};     

    {% if meshFiles %}
        var meshFiles = {{ meshFiles|tojson }}; 
        
    {% else %}
        var meshFiles = [];    

    {% endif %}
</script>

<script type="module" src="static/javascript/modelViewer.js"  ></script>

</body>

<input id = "btnLoad" type = "file" style = "visibility: hidden;">

<form action="" method="POST" id = "btnModel">
    <input type="hidden" id = "fileNameInput" name = "fileNameInput">
</form>

<form action="" method="POST" id = "btnMesh">
    <input type="hidden" id = "fileNameOutput" name = "fileNameOutput">
</form>

<canvas id="c"></canvas>
  
{% endblock %}