{% extends "base.html" %}
{% block content %}
<title>paper page</title>

<br>
<p class = "text-center">Click on the pixel to get the segment label</p>
    
    <div class = "container"  style="margin:0 auto; width: 960px;">
        <canvas  id="myCanvas" height="860" width="960"></canvas>
    </div>
    
    <!-- load the python label number data using jinja into javascript variables -->
    <script type="text/javascript" >

        var labels = {{labels}};
        console.log(labels);

    </script>

    <!-- load the paperjs script -->
    <script type="text/paperscript" src="static/javascript/interaction.js" canvas="myCanvas"></script>
    
{% endblock %}