{% extends "base.html" %}



{% block content %}
<title> {{ title }} </title>

<br>
<div class="container">
    <div class="row">
      <div class="col">
  
        
        <form action="/segmentation" method="POST" enctype="multipart/form-data">
  
        <div class="row">
            <div class="form-group col-4">
                    <div class="custom-file">

                    <input type="file" class="custom-file-input" name="image" id="image" >
                    <label class="custom-file-label" for="image">Select image...</label>
                    </div>
                </div>
            <div class ="col -3">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
        
            <div class ="col-3">
                <form action="/segmentation" method="GET">
                    <button type="submit"  class="btn btn-primary">Run Model</button>
                </form>
            </div>
        </div>
        
        
        <script>
            $('#image').on('change',function(event){
                //get the file name
                var fileName = event.target.files[0].name
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
        </script>

  
 
  
      </div>
    </div>

    <hr>

    <div class ='row'>
     
        {% if upload %}
        <div class = "col-4">
            <figure class="figure">
                <img src= "{{upload}}" style="height: 360px; width: 480px;"> 
                <figcaption class="figure-caption">Image to be segmented</figcaption>
            </figure>
        </div>
            
        {% endif %}
  

            
         {% if output %}
         <div class = "col-4 offset-2">
            <figure class="figure">
                <img src="{{output}}" style="height: 360px; width: 480px;">
                <figcaption class="figure-caption">Segmentation result using CamVid and uNet</figcaption>
            </figure>
        </div>
        {% endif %}      
    </div>
 
    {% if overlay %}
    <div class = "row">
        <div class = "col-6 offset-3">
            <figure class="figure">
                <img src="{{overlay}}" style="height: 360px; width: 480px;">
                <figcaption class="figure-caption">Overlaying the two</figcaption>
                <a href = "/paper">open in paperJS</a>
            </figure>
        </div>
    </div>
   {% endif %}  




</div>



{% endblock %}